<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{../../static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{../../static/css/bootstrap-theme.css}" rel="stylesheet">
    <link th:href="@{../../static/css/bootstrap-switch.css}" rel="stylesheet">
    <title>课程信息</title>
</head>
<body>
    <!--顶部栏-->
    <div th:replace="admin/top :: html"></div>
    <!-- 中间主体 -->
    <div class="container" id="content">
        <div class="row">
            <div th:replace="admin/menu :: html"></div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <h1 class="col-md-4">课程管理</h1>
                            <form class="bs-example bs-example-form col-md-4" role="form" style="margin: 20px 0 10px
                                 0;" th:action="@{/admin/selectCourse}" id="form1" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="请输入课程名称" name="courseName" required>
                                    <span class="input-group-btn">
                                        <input type="submit" class="btn btn-default" value="搜索" />
                                    </span>
                                </div>
                            </form>
                            <button class="btn btn-default col-md-2" style="margin-top: 20px">
                                <a th:href="@{/admin/addCourse}" style="color: black; text-decoration: none">
                                    添加课程信息<sapn class="glyphicon glyphicon-plus"/>
                                </a>
                            </button>
                            <button class="btn btn-default col-md-2" style="margin-top: 20px">
                                <a data-toggle="modal" href="#uploadExcel" role="button"
                                   style="color: black; text-decoration: none">
                                    批量添加<sapn class="glyphicon glyphicon-plus"/>
                                </a>
                            </button>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>课程id</th>
                                <th>课程名称</th>
                                <th>任课教师</th>
                                <th>开课时间</th>
                                <th>开课地点</th>
                                <th>学时</th>
                                <th>类型</th>
                                <th>院系</th>
                                <th>学分</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody th:if="${#lists.isEmpty(courseList)}">
                            <tr style="text-align: center; color: red;">
                                <td colspan="9">没有课程信息</td>
                            </tr>
                        </tbody>
                        <tbody th:if="${not #lists.isEmpty(courseList)}">
                            <th:block th:each="course:${courseList}">
                                <tr>
                                    <!--遍历map-->
                                    <td th:text="${course['course_code']}">0</td>
                                    <td th:text="${course['course_name']}">0</td>
                                    <td th:text="${course['teacher_name']}">0</td>
                                    <td th:text="${course['course_time']}">0</td>
                                    <td th:text="${course['class_room']}">0</td>
                                    <td th:text="${course['course_week']}">0</td>
                                    <td th:text="${course['course_type']}">0</td>
                                    <td th:text="${course['college_name']}">0</td>
                                    <td th:text="${course['score']}">0</td>
                                    <td>
                                        <button class="btn btn-xs btn-default btn-info">
                                            <a th:href="@{'/admin/editCourse?id=' + ${course['course_id']}}"
                                               style="text-decoration: none; color: white; font-weight: lighter">
                                                修改
                                            </a>
                                        </button>
                                        <button class="btn btn-xs btn-default btn-danger btn-primary">
                                            <a th:onclick="passId([[${course['course_id']}]]);"
                                                data-toggle="modal" href="#sureDel" role="button"
                                                style="text-decoration: none; color: white; font-weight: lighter">
                                                删除
                                            </a>
                                        </button>
                                        <div class="bootstrap-switch bootstrap-switch-mini" th:if="${course['is_on'] == 1}">
                                            <input type="checkbox" name="isSelectOn"
                                                    th:value="${course['course_id']}" checked/>
                                        </div>
                                        <div class="bootstrap-switch bootstrap-switch-mini" th:if="${course['is_on'] == 0}">
                                            <input type="checkbox" name="isSelectOn"
                                                   th:value="${course['course_id']}"/>
                                        </div>
                                        <!--弹出框-->
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                    <div class="panel-footer" th:if="${pageVo}">
                        <nav style="text-align: center">
                            <ul class="pagination">
                                <li>
                                    <a th:href="@{'/admin/course/list?page=' + ${pageVo.prePageNo}}">&laquo;
                                        上一页</a>
                                </li>
                                <li class="active">
                                    <a href="" th:value="${pageVo.currentPageNo}" th:text="${pageVo.currentPageNo}">1</a>
                                </li>

                                <li th:if="${pageVo.currentPageNo + 1 <= pageVo.totalCount}">
                                    <a th:href="@{'/admin/course/list?page=' + ${pageVo.currentPageNo + 1}}"
                                       th:text="${pageVo.currentPageNo+1}">2</a>
                                </li>
                                <li th:if="${pageVo.currentPageNo + 2 <= pageVo.totalCount}">
                                    <a th:href="@{'/admin/course/list?page=' + ${pageVo.currentPageNo + 2}}"
                                       th:text="${pageVo.currentPageNo + 2}">3</a>
                                </li>
                                <li th:if="${pageVo.currentPageNo + 3 <= pageVo.totalCount}">
                                    <a th:href="@{'/admin/course/list?page=' + ${pageVo.currentPageNo + 3}}"
                                       th:text="${pageVo.currentPageNo + 3}">4</a>
                                </li>
                                <li th:if="${pageVo.currentPageNo + 4 <= pageVo.totalCount}">
                                    <a th:href="@{'/admin/course/list?page=' + ${pageVo.currentPageNo + 4}}"
                                       th:text="${pageVo.currentPageNo + 4}">5</a>
                                </li>
                                <li>
                                    <a th:href="@{'/admin/course/list?page=' + ${pageVo.totalCount}}">最后一页&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="footer">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>

    <!--是否删除模态框-->
    <div class="modal fade" tabindex="-1" role="dialog" id="sureDel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" role="form" th:action="@{/admin/removeCourse}" method="post">
                    <input type="hidden" name="courseId" id="id" value=""/>
                    <div class="modal-body">
                        <p>确认删除？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-danger">删除</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--批量添加模态框-->
    <div class="modal fade" tabindex="-1" role="dialog" id="uploadExcel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" role="form" th:action="@{/admin/upload/course}"
                      enctype="multipart/form-data" method="post">
                    <div class="modal-body">
                        请选择文件:<input type="file" name="courseFile">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-success">添加</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--消息模态框-->
    <div class="modal fade" tabindex="-1" role="dialog" id="alertMsg">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p th:text="${msg}" id="msgP"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="javascript:go();">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{../../static/js/jquery-3.0.0.min.js}"></script>
    <script th:src="@{../../static/js/bootstrap.js}"></script>
    <script th:src="@{../../static/js/bootstrap-switch.js}"></script>
    <script th:inline="javascript">

        /*<![CDATA[*/

        // 初始化开关switch
        $("[name='isSelectOn']").bootstrapSwitch({
            onText: "开启",
            offText: "关闭",
            onColor: "success",
            offColor: "warning",
            onSwitchChange: function (event, state) {
                var courseId = $(this).val();
                if (state == true) {
                    //开启
                    $.post('/admin/editStatus', {isOn: 1, courseId: courseId}
                    , function (data, status) {
                        if(status == 'success') {
                            // 给模态框赋值
                            $('#msgP').text('开启选课成功!');
                        } else {
                            // 给模态框赋值
                            $('#msgP').text('开启选课失败!');
                        }

                        $('#alertMsg').modal('show');
                    }
                    );
                } else {
                    //关闭
                    $.post('/admin/editStatus', {isOn: 0, courseId: courseId}
                    , function (data, status) {
                        if(status == 'success') {
                            // 给模态框赋值
                            $('#msgP').text('关闭选课成功!');
                        } else {
                            // 给模态框赋值
                            $('#msgP').text('关闭选课失败!');
                        }
                        $('#alertMsg').modal('show');
                    }
                    );
                }
            }
        });

        $("#nav li:nth-child(1)").addClass("active");

        var msg = /*[[${msg}]]*/ null;

        if(msg != null) {
            // 显示信息
            $('#alertMsg').modal('show');
        }

        // 跳转到接口
        function go() {
            window.location.href = "/admin/course/list";
        }

        // 传递教师的id
        function passId(id) {
            $("#id").val(id);
        }
        /*]]>*/

    </script>
</body>
</html>