<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<div class="col-md-2" th:fragment="menu">
    <ul class="nav nav-pills nav-stacked" id="nav">
        <li>
            <a th:href="@{/teacher/open/course/list}">我的课程
                <span class="badge pull-right" th:text="${courseNum}">8</span>
            </a>
        </li>
        <li>
            <a th:href="@{'/teacher/passwordRest?teacherId=' + ${teacherId}}">修改密码
                <sapn class="glyphicon glyphicon-pencil pull-right" />
            </a>
        </li>
        <li>
            <a th:href="@{/logout}">退出系统
                <sapn class="glyphicon glyphicon-log-out pull-right" />
            </a>
        </li>
        <li class="disabled">
            <a href="##">Responsive</a>
        </li>
    </ul>
</div>