<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{../static/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{../static/css/bootstrap-theme.css}" rel="stylesheet">
    <title>登陆</title>
    <style type="text/css">
        body{
            background: url(../static/images/a.jpg)repeat;
        }
        #login-box {
            padding: 35px;
            border-radius:15px;
            background: #56666B;
            color: #ccc;
        }
        .title {
            text-align: center;
            margin-top: 100px;
            font-size: 40px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container" id="top">
        <p class="title">学生选课推荐系统</p>
        <div class="row" style="margin-top: 80px">
            <div class="col-md-4"></div>
            <div class="col-md-4" id="login-box">
                <form class="form-horizontal" th:action="@{/login}" method="post">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">用户名</span >
                        <input type="text" class="form-control" placeholder="请输入账号" style="width: 250px"
                               aria-describedby="basic-addon1" id="userID" name="userName" required>
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2">密&nbsp;&nbsp;&nbsp;&nbsp;码</span >
                        <input type="password" class="form-control" placeholder="请输入密码" style="width: 250px"
                               aria-describedby="basic-addon2" id="password" name="userPassword" required>
                    </div><br>
                    <div class="btn-position pull-right">
                        <button type="submit" class="btn btn-success">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <!--消息模态框-->
    <div class="modal fade" tabindex="-1" role="dialog" id="errMsg">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p th:text="${msg}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{../static/js/jquery-3.0.0.min.js}"></script>
    <script th:src="@{../static/js/bootstrap.js}"></script>
    <!--thymeleaf在js中使用-->
    <script th:inline="javascript">

        /*<![CDATA[*/

        var msg = /*[[${msg}]]*/ null;
        if(msg != null) {
            // 显示错误信息
            $('#errMsg').modal('show');
        }

        /*]]>*/

    </script>
</body>
</html>